/* ------------------------------ BASIC DOCUMENT STYLES FOR EVERY PAGE-------------------------------------------- */

/* ------------------------------------------- CUSTOM FONTS ------------------------------------------------------ */

@font-face {
  font-family: "Roboto";
  src: url("../fonts/Roboto-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "Roboto";
  src: url("../fonts/Roboto-Bold.ttf") format("truetype");
  font-weight: bold;
  font-style: normal;
}
@font-face {
  font-family: "Roboto-Slab";
  src: url("../fonts/RobotoSlab-Bold.ttf") format("truetype");
  font-weight: bold;
  font-style: normal;
}
@font-face {
  font-family: "Roboto-Slab";
  src: url("../fonts/RobotoSlab-Black.ttf") format("truetype");
  font-weight: 900; /* Font Weight: Black */
  font-style: normal;
}

/* ------------------------------------------- CUSTOM FONTS ------------------------------------------------------ */

/* ------------------------------------------- BASIC STYLES ------------------------------------------------------ */

html {
  scroll-behavior: smooth;
}

:root {
  --blue: #045eb7;
  --hover-blue: #05498d;
  --green: #178e17;
  --hover-green: #136b13;
  --gold: #ffbc00;
  --hover-gold: #b18611;
  --red: #bc1402;
  --hover-red: #741409;
  --text: #1e1e1e;
  --hover-text: #080808;
  --bg: #ffffff;
  --white: #ffffff;

  --h1: 2rem;
  --h2: 2rem;
  --h3: 1.5rem;
  --h4: ;
  --p: 0.85rem;

  --shadow: 0px 0px 15px rgba(0, 0, 0, 0.15);
}
body.dark {
  --text: #a6b5c3;
  --hover-text: #56606b;
  --bg: #040c14;
  --blue: #2c4b61;
  --gold: #d49c00;

  --shadow: 0px 0px 25px rgba(77, 99, 145, 0.15);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  position: relative;
  width: 100%;
  background-color: var(--bg);
  font-family: "Roboto", sans-serif;
  overflow-x: hidden !important;
  font-size: var(--p);
  background-color: var(--bg);
}

h1 {
  font-family: "Roboto-Slab";
  font-size: var(--h1);
}
h2 {
  font-family: "Roboto-Slab";
  font-size: var(--h2);
}
h3 {
  font-size: var(--h3);
}
h4 {
  font-size: var(--h4);
}
li {
  list-style: none;
}
a {
  text-decoration: none;
}
p {
  color: var(--text);
}
p,
li,
a {
  font-size: var(--p);
}
::placeholder {
  color: var(--text);
  font-style: italic;
}

.image-container {
  position: relative;
  overflow: hidden;
  width: 30%;
}
.image-container img {
  object-fit: cover;
  width: 100%;
}
.btn-green {
  border: 3px solid var(--green);
  background-color: var(--green);
  color: var(--white);
  padding: 0.5rem 1rem;
  border-radius: 7px;
  transition: background-color 300ms ease, border 300ms ease;
}
.btn-green:hover {
  background-color: var(--hover-green);
  border: 3px solid var(--hover-green);
}
.btn-blue {
  border: 3px solid var(--blue);
  background-color: var(--blue);
  color: var(--white);
  padding: 0.5rem 1rem;
  border-radius: 7px;
  transition: background-color 300ms ease, border 300ms ease;
}
.btn-blue:hover {
  background-color: var(--hover-blue);
  border: 3px solid var(--hover-blue);
}
.btn-black {
  border: 3px solid var(--text);
  background-color: var(--text);
  color: var(--white);
  padding: 0.5rem 1rem;
  border-radius: 7px;
  transition: background-color 300ms ease, border 300ms ease;
}
.btn-black:hover {
  background-color: var(--hover-text);
  border: 3px solid var(--hover-text);
}
.btn-gold {
  border: 3px solid var(--gold);
  background-color: var(--gold);
  color: var(--white);
  padding: 0.5rem 1rem;
  border-radius: 7px;
  transition: background-color 300ms ease, border 300ms ease;
}
.btn-gold:hover {
  background-color: var(--hover-gold);
  border: 3px solid var(--hover-gold);
}
.btn-red {
  border: 3px solid var(--red);
  background-color: var(--red);
  color: var(--white);
  padding: 0.5rem 1rem;
  border-radius: 7px;
  transition: background-color 300ms ease, border 300ms ease;
}
.btn-red:hover {
  background-color: var(--hover-red);
  border: 3px solid var(--hover-red);
}
.btn-secondary {
  border: 3px solid var(--blue);
  background-color: transparent;
  color: var(--blue);
  padding: 0.5rem 1rem;
  border-radius: 7px;
  transition: background-color 300ms ease, border 300ms ease;
}
.btn-secondary:hover {
  border: 3px solid var(--hover-green);
  background-color: var(--hover-green);
  color: var(--white);
}
form .submit-btn-loader {
  width: 10%;
}

/* ------------------------------------------- BASIC STYLES ------------------------------------------------------ */

/* ------------------------------------------------- ALERT BOX ------------------------------------------------- */

.alert {
  position: fixed;
  bottom: 25px;
  left: -200px;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  background-color: var(--nav-bg);
  color: transparent;
  box-shadow: var(--shadow-y-bottom);
  padding: 1.5%;
  width: fit-content;
  z-index: 999;
  border-radius: 12px;
  transition: left 300ms ease;
}
.alert.show {
  left: 25px;
}
.alert .fa-solid {
  font-size: calc(var(--p) + 0.8rem);
}
.alert p {
  margin-left: 1rem;
  font-size: calc(var(--p));
}

body.dark .alert.error {
  border: 3px solid #df1010;
  background-color: #180e0e;
  color: #df1010;
}
.alert.error {
  border: 3px solid #df1010;
  background-color: #ffcdcd;
  color: #df1010;
}
.alert.error::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  width: 0%;
  height: 3px;
  background-color: #df1010;
  animation: timer 5s linear;
}
body.dark .alert.success {
  border: 3px solid #00be13;
  background-color: #0e180f;
  color: #00be13;
}
.alert.success {
  border: 3px solid #077712;
  background-color: #c7fdcc;
  color: #077712;
}
.alert.success::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  width: 0%;
  height: 3px;
  background-color: #00be13;
  animation: timer 5s linear;
}

/* ------------------------------------------------- ALERT BOX ------------------------------------------------- */

/* ----------------------------------------- DELETE CONFIRMATION MODAL ------------------------------------------*/

.modal.opened{
  display: block !important;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: var(--bg);
  color: var(--text);
  border-radius: 25px;
  box-shadow: var(--shadow);
  padding: 5%;
  text-align: center;
  z-index: 500;
}
.modal p{
  margin: 2rem 0;
  width: 100%;
}
.modal .modal-actions{
  width: 60%;
  margin: auto;
  display: flex;
  align-items: center;
  justify-content: space-between;

}
.modal .modal-actions button{
  width: 45%
}
.modal .modal-actions button .fa-solid{
  margin-right: 1rem;
  font-size: 1rem;
}

@keyframes timer {
  0% {
    width: 0%;
  }
  100% {
    width: 100%;
  }
}

/* ---------------------------------------- DELETE CONFIRMATION MODAL ------------------------------------------ */

/* -------------------------------------------------- HEADER --------------------------------------------------- */

header {
  width: 100%;
  box-shadow: var(--shadow);
  background-color: var(--bg);
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 2% 5%;
  position: relative;
}
header .logo {
  width: fit-content;
  color: var(--blue);
}
header .search {
  width: 30%;
  padding: 0;
}
header .search .input {
  position: relative;
  width: 100%;
  border: 3px solid var(--text);
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0;
  border-radius: 7px;
}
header .search .input input {
  padding: 0.5rem 1rem;
  color: var(--text);
  font-family: inherit;
  font-size: var(--p);
  background-color: transparent;
  border: none;
  outline: none;
}
input:-webkit-autofill {
  -webkit-box-shadow: 0 0 0px 1000px transparent inset;
  transition: background-color 5000s ease-in-out 0s;
  color: var(--text) !important;
  font-family: inherit;
}
header .search .input .fa-solid {
  background-color: var(--text);
  padding: 0.75rem;
  color: var(--bg);
  font-size: calc(var(--p) + 0.2rem);
  cursor: pointer;
}
header .notifications {
  position: relative;
  width: fit-content;
}
header .notifications .fa-solid {
  color: var(--text);
  font-size: calc(var(--p) + 1rem);
  margin: 0;
  cursor: pointer;
}
header .notifications .counter {
  background-color: var(--red);
  color: var(--white);
  font-size: var(--p);
  padding: 0;
  min-width: 20px;
  min-height: 20px;
  text-align: center;
  border: 2px solid var(--bg);
  border-radius: 50%;
  position: absolute;
  right: -30%;
  top: 0;
}

header .admin-info {
  width: 20%;
  display: flex;
  align-items: center;
  justify-content: center;
}
header .admin-info .info {
  margin: 0 1rem;
}
header .admin-info .info p,
header .admin-info .fa-solid {
  color: var(--text);
}
header .admin-info .fa-solid{
  cursor: pointer;
}
header .admin-info .info p:nth-child(1) {
  font-size: 1rem;
  font-weight: bold;
}
header .admin-info .fa-solid:nth-child(1) {
  font-size: calc(var(--p) + 1rem);
}
header .admin-info .fa-solid:nth-child(2) {
  font-size: calc(var(--p) + 0.2rem);
  cursor: pointer;
}
header .sub-menu{
  width: 20%;
  position: absolute;
  top: 100%;
  opacity: 0;
  background-color: var(--bg);
  box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.15);
  padding: 1%;
  transition: top 300ms ease, opacity 300ms ease;
  z-index: 800;
}
header .sub-menu.active{
  top: 85%;
  opacity: 1;
}
header .sub-menu.admin {
  left: 67%;
}
header .sub-menu.notifications {
  left: 45%;
}
header .sub-menu li {
  padding: 1rem 0;
}
header .sub-menu li:hover {
  background-color: rgba(217, 217, 217, 0.4);
}
header .sub-menu li a {
  color: var(--text);
  padding: 0.5rem 1rem;
}
header .sub-menu li a .fa-solid {
  margin-right: 1rem;
  font-size: calc(var(--p) + 0.2rem);
}
header .sub-menu li a.logout{
  color: var(--red);
}

header .theme-btn {
  position: relative;
  min-width: 80px;
  height: 25px;
  border-radius: 25px;
  background-color: var(--text);
  outline: none;
  border: none;
  padding: 1.5% 0;
  margin-left: 5rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
header .theme-btn::before {
  content: "";
  position: absolute;
  width: 25px;
  height: 25px;
  top: 50%;
  left: 20px;
  transform: translate(-50%, -50%);
  border-radius: 50%;
  background-color: var(--white);
  box-shadow: var(--shadow);
  cursor: pointer;
  transform: left 300ms ease;
}
header .theme-btn span {
  z-index: 2;
  width: 100%;
  /* padding: 10%; */
  margin: 0;
  cursor: pointer;
}
header .theme-btn span.light {
  color: var(--hover-gold);
}
header .theme-btn span.dark {
  color: #a6b5c3;
}
body.dark > header .theme-btn::before {
  left: 60px;
}

/* -------------------------------------------------- !HEADER --------------------------------------------------- */

/* -------------------------------------------------- NAVIGATION --------------------------------------------------- */

nav {
  background-color: #002957;
  width: 70px;
  height: auto;
  border-radius: 0 25px 25px 0;
  overflow: clip;
  transition: width 300ms ease;
}
nav.opened{
  width: 350px;
}
nav .fa-solid {
  font-size: calc(var(--p) + 0.5rem);
  color: var(--white);
}
nav .title {
  position: relative;
  background-color: var(--blue);
  color: var(--white);
  padding: 1rem 2rem;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
nav .title .fa-solid {
  cursor: pointer;
}
nav .title p {
  color: var(--white);
  font-weight: bold;
  font-size: calc(var(--p) + 0.3rem);
  width: 100%;
  margin-left: 2rem;
  opacity: 0;
  transition: opacity 300ms ease;
}
nav ul {
  padding: 3rem 0;
}
nav ul li {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  width: 100%;
  padding: 1rem 2rem;
}
nav.opened .title p{
  opacity: 1;
}
nav.opened ul li a{
  opacity: 1;
}
nav ul li:hover{
    background-color: rgba(255, 255, 255, 0.15);
}
nav ul li a {
  color: var(--white);
  text-align: left;
  font-size: calc(var(--p) + 0.2rem);
  margin-left: 2rem;
  opacity: 0;
  transition: opacity 300ms ease;
}
nav ul li.settings {
  margin-top: 5rem;
}

/* -------------------------------------------------- NAVIGATION --------------------------------------------------- */

/* -------------------------------------------------- TABLE STYLES --------------------------------------------------- */

table{
  border-collapse: collapse;
  background-color: var(--bg);
  color: var(--text);
  width: 100%;
  text-align: left;
  border: 2px solid var(--text);
  margin-bottom: 2rem;
}
th, td{
  padding: 0.5rem;
}
th{
  background-color: rgba(0, 0, 0, 0.15);
  /* border-bottom: 2px solid var(--text); */
}
th:not(:last-child), td:not(:last-child){
  border-right: 2px solid var(--text);
}
td{
  padding: 1rem 0.5rem;
}

/* -------------------------------------------------- TABLE STYLES --------------------------------------------------- */

/* -------------------------------------------------- FOOTER --------------------------------------------------- */

footer{
  width: 100%;
  position: relative;
}
footer .logo-nav{
  width: 100%;
  background-color: #000D1A;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 5%;
}
footer .logo-nav .navigation-list{
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  width: 50%;
}
footer .logo-nav .navigation-list h4{
  color: var(--gold);
  margin-bottom: 1.5rem;
  font-size: calc(var(--p) + 0.2rem);
}
footer .logo-nav .navigation-list ul li{
  padding: 0.7rem 0;
}
footer .logo-nav .navigation-list ul li a{
  color: var(--white);
  transition: color 300ms ease;
}
footer .logo-nav .navigation-list ul li a:hover{
  color: var(--gold);
}
footer .logo-nav .image-container{
  width: 20%;
}
footer .copy{
  padding: 2%;
  text-align: center;
}
footer .copy p{
  font-weight: bold;
  font-size: 1rem;
}

/* -------------------------------------------------- FOOTER --------------------------------------------------- */
