/* ------------------------------ BASIC DOCUMENT STYLES FOR EVERY PAGE-------------------------------------------- */

/* ------------------------------------------- CUSTOM FONTS ------------------------------------------------------ */

@font-face {
  font-family: "Roboto";
  src: url("../../fonts/Roboto-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "Roboto";
  src: url("../../fonts/Roboto-Bold.ttf") format("truetype");
  font-weight: bold;
  font-style: normal;
}
@font-face {
  font-family: "Roboto-Slab";
  src: url("../../fonts/RobotoSlab-Bold.ttf") format("truetype");
  font-weight: bold;
  font-style: normal;
}
@font-face {
  font-family: "Roboto-Slab";
  src: url("../../fonts/RobotoSlab-Black.ttf") format("truetype");
  font-weight: 900; /* Font Weight: Black */
  font-style: normal;
}

/* ------------------------------------------- CUSTOM FONTS ------------------------------------------------------ */

/* ------------------------------------------- BASIC STYLES ------------------------------------------------------ */

html {
  scroll-behavior: smooth;
}

:root {
  --blue: #045eb7;
  --hover-blue: #05498d;
  --green: #178e17;
  --hover-green: #136b13;
  --gold: #ffbc00;
  --hover-gold: #b18611;
  --red: #bc1402;
  --text: #1e1e1e;
  --bg: #ffffff;
  --white: #ffffff;

  --h1: 3.5rem;
  --h2: 2rem;
  --h3: 1rem;
  --h4: ;
  --p: 0.85rem;

  --shadow: 0px 0px 15px rgba(0, 0, 0, 0.15);
}
body.dark {
  --text: #a6b5c3;
  --bg: #040c14;
  --blue: #2687cc;

  --shadow: 0px 0px 25px rgba(77, 99, 145, 0.15);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  position: relative;
  width: 100%;
  background-color: var(--bg);
  font-family: "Roboto", sans-serif;
  overflow-x: hidden !important;
  font-size: var(--p);
  background-color: var(--bg);
}
h1,
h2,
h3,
h4 {
  font-family: "Roboto-Slab", sans-serif;
  color: var(--gold);
}

h1 {
  font-size: var(--h1);
}
h2 {
  font-size: var(--h2);
}
h3 {
  font-size: var(--h3);
  font-family: "Roboto", sans-serif;
}
h4 {
  font-size: var(--h4);
}
li {
  list-style: none;
}
a {
  text-decoration: none;
}
p, li {
  color: var(--text);
}
p,
li,
a {
  font-size: var(--p);
}

.image-container {
  position: relative;
  overflow: hidden;
  width: 30%;
}
.image-container img {
  object-fit: cover;
  width: 100%;
}
.btn-green {
  border: 3px solid var(--green);
  background-color: var(--green);
  color: var(--white);
  padding: 0.5rem 1rem;
  border-radius: 7px;
  transition: background-color 300ms ease, border 300ms ease;
}
.btn-green:hover {
  background-color: var(--hover-green);
  border: 3px solid var(--hover-green);
}
.btn-blue {
  border: 3px solid var(--blue);
  background-color: var(--blue);
  color: var(--white);
  padding: 0.5rem 1rem;
  border-radius: 7px;
  width: max-content;
  transition: background-color 300ms ease, border 300ms ease;
}
.btn-blue:hover {
  background-color: var(--hover-blue);
  border: 3px solid var(--hover-blue);
}
.btn-gold {
  border: 3px solid var(--gold);
  background-color: var(--gold);
  color: var(--white);
  padding: 0.5rem 1rem;
  border-radius: 7px;
  transition: background-color 300ms ease, border 300ms ease;
}
.btn-gold:hover {
  background-color: var(--hover-gold);
  border: 3px solid var(--hover-gold);
}
.btn-secondary {
  border: 3px solid var(--blue);
  background-color: transparent;
  color: var(--blue);
  padding: 0.5rem 1rem;
  border-radius: 7px;
  transition: background-color 300ms ease, border 300ms ease;
}
.btn-secondary:hover {
  border: 3px solid var(--hover-green);
  background-color: var(--hover-green);
  color: var(--white);
}
form .submit-btn-loader {
  width: 10%;
}

/* ------------------------------------------- BASIC STYLES ------------------------------------------------------ */

/* ------------------------------------------------- ALERT BOX ------------------------------------------------- */

.alert {
  position: fixed;
  bottom: 25px;
  left: -200px;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  background-color: var(--nav-bg);
  color: transparent;
  box-shadow: var(--shadow-y-bottom);
  padding: 1.5%;
  width: fit-content;
  z-index: 999;
  border-radius: 12px;
  transition: left 300ms ease;
}
.alert.show {
  left: 25px;
}
.alert .fa-solid {
  font-size: calc(var(--p) + 0.8rem);
}
.alert p {
  margin-left: 1rem;
  font-size: calc(var(--p));
}

body.dark .alert.error {
  border: 3px solid #df1010;
  background-color: #180e0e;
  color: #df1010;
}
.alert.error {
  border: 3px solid #df1010;
  background-color: #ffcdcd;
  color: #df1010;
}
.alert.error::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  width: 0%;
  height: 3px;
  background-color: #df1010;
  animation: timer 5s linear;
}
body.dark .alert.success {
  border: 3px solid #00be13;
  background-color: #0e180f;
  color: #00be13;
}
.alert.success {
  border: 3px solid #077712;
  background-color: #c7fdcc;
  color: #077712;
}
.alert.success::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  width: 0%;
  height: 3px;
  background-color: #00be13;
  animation: timer 5s linear;
}

@keyframes timer {
  0% {
    width: 0%;
  }
  100% {
    width: 100%;
  }
}

/* ------------------------------------------------- ALERT BOX ------------------------------------------------- */

/* ------------------------------------------- HEADER / NAV ------------------------------------------------------ */

header {
  position: relative;
  width: 100%;
  height: 30vh;
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  box-shadow: var(--shadow);
  z-index: 999;
}
header .image-container {
  width: 20%;
  padding: 2% 5%;
  display: flex;
  align-items: center;
  justify-content: center;
}
header .nav-info {
  width: 80%;
  position: relative;
}
header .nav-info .info {
  background-color: var(--blue);
  color: var(--white);
  display: flex;
  align-items: center;
  justify-content: flex-end;
  padding: 2% 5%;
  width: 100%;
}
header .nav-info .info .details {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  margin-left: 5rem;
  color: var(--white);
}
header .nav-info .info .details .fa-solid {
  font-size: calc(var(--p) + 0.8rem);
}
header .nav-info .info .details .info-text {
  margin-left: 1rem;
  display: flex;
  flex-direction: column;
  color: var(--white);
}
header .nav-info .info .details .info-text h3 {
  font-family: "Roboto", sans-serif;
  font-weight: bold;
  margin-bottom: 0.5rem;
  color: var(--white);
}
header .nav-info .info .details .info-text p {
  color: var(--white);
}
header .nav-info .info .theme-btn {
  position: relative;
  width: 80px;
  height: 25px;
  border-radius: 25px;
  background-color: var(--bg);
  outline: none;
  border: none;
  padding: 2% 0;
  margin-left: 5rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
header .nav-info .info .theme-btn::before {
  content: "";
  position: absolute;
  width: 25px;
  height: 25px;
  top: 50%;
  left: 20px;
  transform: translate(-50%, -50%);
  border-radius: 50%;
  background-color: var(--white);
  box-shadow: var(--shadow);
  cursor: pointer;
  transform: left 300ms ease;
}
header .nav-info .info .theme-btn span {
  z-index: 2;
  width: 100%;
  margin: 0;
  cursor: pointer;
}
header .nav-info .info .theme-btn span.light {
  color: var(--text);
}
header .nav-info .info .theme-btn span.dark {
  color: #a6b5c3;
}
body.dark > header .nav-info .info .theme-btn::before {
  left: 60px;
}

header .nav-info .nav {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 5% 0 2%;
  width: 100%;
  height: 20vh;
}
header .nav-info .nav .menu {
  width: 55%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
header .nav-info .nav .menu li {
  padding: 0.5rem 0rem;
  display: flex;
  align-items: center;
}
header .nav-info .nav .menu li:hover {
  background-color: rgba(217, 217, 217, 0.4);
  border-radius: 7px;
}
header .nav-info .nav .menu li .fa-solid {
  color: var(--text);
  padding-right: 1rem;
  cursor: pointer;
}
header .nav-info .nav .menu li a {
  padding: 0.5rem 1rem;
  color: var(--text);
}

header .user-info {
  width: 20%;
  display: flex;
  align-items: center;
  justify-content: center;
}
header .user-info .info {
  margin: 0 0.5rem;
  background-color: transparent;
}
header .user-info .info p,
header .user-info .fa-solid {
  color: var(--text);
}
header .user-info .fa-solid {
  cursor: pointer;
}
header .user-info .info p {
  font-size: 1rem;
  font-weight: bold;
  width: max-content;
}
header .user-info .fa-solid:nth-child(1) {
  font-size: calc(var(--p) + 1rem);
}
header .user-info .fa-solid:nth-child(2) {
  font-size: calc(var(--p) + 0.2rem);
  cursor: pointer;
}

header .nav-info .nav .sub-menu {
  width: 20%;
  position: absolute;
  top: 60%;
  opacity: 0;
  background-color: var(--bg);
  box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.15);
  padding: 1%;
  transition: top 300ms ease, opacity 300ms ease;
}
header .nav-info .nav .sub-menu.active {
  top: 85%;
  opacity: 1;
}
header .nav-info .nav .sub-menu.user {
  right: 5%;
}
header .sub-menu li {
  padding: 1rem 0;
}
header .sub-menu li:hover {
  background-color: rgba(217, 217, 217, 0.4);
}
header .sub-menu li a {
  color: var(--text);
  padding: 0.5rem 1rem;
}
header .sub-menu li a .fa-solid {
  margin-right: 1rem;
  font-size: calc(var(--p) + 0.2rem);
}
header .sub-menu li a.logout {
  color: var(--red);
}

/* ------------------------------------------- HEADER / NAV ------------------------------------------------------ */

/* ------------------------------------------- HERO ------------------------------------------------------ */

.hero {
  position: relative;
  width: 100%;
  height: 70vh;
  background: url("../../images/reavaya-buses.png") center no-repeat;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 5%;
}
.hero h1 {
  color: var(--gold);
  width: 85%;
  text-align: center;
  text-transform: capitalize;
}
.hero p {
  width: 80%;
  margin: 2rem auto;
  color: var(--white);
  font-size: calc(var(--p) + 0.5rem);
  text-align: center;
  line-height: 1.5;
}

/* ------------------------------------------- HERO ------------------------------------------------------ */

/* -------------------------------------------------- FOOTER --------------------------------------------------- */

footer {
  width: 100%;
  position: relative;
  margin-top: 3rem;
}
footer .logo-nav {
  width: 100%;
  background-color: #000d1a;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 5%;
}
footer .logo-nav .navigation-list {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  width: 50%;
}
footer .logo-nav .navigation-list h4 {
  color: var(--gold);
  margin-bottom: 1.5rem;
  font-size: calc(var(--p) + 0.2rem);
}
footer .logo-nav .navigation-list ul li {
  padding: 0.7rem 0;
}
footer .logo-nav .navigation-list ul li a {
  color: var(--white);
  transition: color 300ms ease;
}
footer .logo-nav .navigation-list ul li a:hover {
  color: var(--gold);
}
footer .logo-nav .image-container {
  width: 20%;
}
footer .copy {
  padding: 2%;
  text-align: center;
}
footer .copy p {
  font-weight: bold;
  font-size: 1rem;
}

/* -------------------------------------------------- FOOTER --------------------------------------------------- */
